*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --white: #ffffff;
    --pink: #ef7998;
    font-family: 'Kaushan Script', cursive;
    --black: black;

}

nav{
    height: 6rem;
    width: 100%;
    background-color: var(--white);
    display: flex;
    
}

.dou{
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dou-info{
    width: 20rem;
    margin-left: 20rem;
    color: var(--pink);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}

.dou-info p:hover{
    color: var(--black);
}

.phone{
    display: flex;
}

.nav_infos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 100%;
    margin-left: 23rem;
    font-size: 1rem;
}

.phone{
    color: var(--black);
    width: 15rem;
    gap: 1rem;
    padding: 0.4rem;
}

.phone img{
    width: 1.5rem;
    height: 1.5rem;
}

.cart{
    display: flex;
    width: 11rem;
    height: 2.5rem;
    border-radius: 4px;
    border: 0.1rem solid var(--black);
    color: var(--black);
    gap: 1rem;
    padding: 0.4rem;
    cursor: pointer;
}

.cart:hover{
    background-color: var(--pink);
    color: var(--white);
    border: none;
}

.cart img{
    width: 1.5rem;
    height: 1.5rem;
}

.first_page{
    width: 100%;
    height: 48rem;
    background: url('./media/cupcake_background.jpeg') #f6ebc4;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18rem;
}

.greet{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 2rem;
}

.greet div{
    height: 5rem;
    font-size: 3rem;
    margin-top: -2rem;
    color: var(--pink);
}

.explore{
    width: 9rem;
    height: 3.5rem;
    border-radius: 3px;
    border: 0.2rem solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.explore:hover{
    background-color: var(--black);
    color: var(--pink);
}

.about{
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 45rem 1fr;
}

.about_info{
    height: 80%;
    width: 35rem;
    margin: 6rem;
}

.about_info h2{
    margin-bottom: 1.3rem;
    font-size: 2.5rem;
}

.about_info span{
    color: var(--pink);
    font-size: 4.5rem;
}

.sec_dot{
    width: 6rem;
    height: 2.5rem;
    border-radius: 3px;
    border: 0.1rem solid var(--black);
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sec_dot:hover{
    background-color: var(--black);
    color: var(--pink);
}

.sec_view{
    height: 100%;
    padding-left: 6rem;
    padding-top: 8rem;
}

.view{
    width: 46rem;
    height: 35rem;
    border: 0.5rem solid #f9e494;
    position: absolute;
    translate: -25px -25px 0;
    transition: all 1s ease-in-out;
}

.hover:hover .view {
    translate: 0;
}

.hover{
    width: 46rem;
    height: 35rem;
}

.sec_view img{
    width: 45rem;
    height: 34rem;
    margin: 0.5rem;
    position: absolute;
    cursor: pointer;
}

.view:hover{
    transition: all 0.5s linear;
}

.lists{
    width: 100%;
    height: 250vh;
    background-color: #eeeeee;
    padding-top: 3rem;
}

.list{
    width: 17rem;
    font-size: 2rem;
    margin: auto;
    color: var(--black);
    display: flex;
    gap: 1rem;
}

.list span{
    color: var(--pink);
    font-size: 4rem;
}

.opt{
    width: 60rem;
    height: 4rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    cursor: pointer;
}

.opt div{
    width: max-content;
    height: 2.5rem;
    border-radius: 4px;
    border: 0.1rem solid var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0.7rem;
}

.opt a{
    text-decoration: none;
    color: var(--black);
}

.opt div:hover{
    background-color: var(--black);
    color: var(--pink);
}

.search{
    display: flex;
    justify-content: center;
}

.search div{
    width: 2rem;
    height: 2.5rem;
    background-color: var(--pink);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search img{
    width: 1.5rem;
    height: 1.5rem;
}

.search input{
    width: 50rem;
    height: 2.5rem;
    padding-left: 1rem;
    font-size: 1rem;
}

.search input:focus{
    outline: none;
    border: 0.1rem solid #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.products{
    width: 85%;
    height: 85%;
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
}

figcaption{
    width: 100%;
    height:5rem;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 2rem;
}

.over{
    height: 100%;
}
.product{
    width: 28rem;
    height: 24rem;

}

.product img.p-img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 1s linear;
}

.pics{
    position: relative;
    height: 75%;
}

.mvn_cart{
    width: 0;
    height:0;
    background-color: rgb(249, 228, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 7px;
    position: absolute;
    right: 0;
    bottom: 0rem;  
    transition: all 1s ease-in-out;
}

.over{
    overflow: hidden;
}

.over img:hover{
    transform: scale(1.3);
}
.mvn_cart img{
    width: 0rem;
    height: 0rem;
}

.p_info:hover .mvn_cart{
    width: 2.8rem;
    height: 2.8rem;  
}

.p_info:hover .mvn_cart img{
    width: 1.3rem;
    height: 1.3rem;
    display: block;
    transition: all 1s ease-in-out;
}

@media(max-width:640px){
    :root{
        font-size: 12px;
    }

    nav{
        height: 10rem;
    }

    .first_page{
        width: 68rem;
        height: 40rem;
        background-size: contain;
    }

    .greet{
        display: block;
        line-height: 8rem;
        padding-top: 0;
    }

    .greet h2{
        font-size: 6rem;
    }
}